.contenido {
    padding: 20px 80px;
    margin: 30px 0;
    justify-content: center;
}

/* Contenedor para centrar la card */
#contenedor {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    font-family: 'Montserrat', sans-serif;
}


/* Card */
.cardAgregar {
    width: 480px;
    padding: 25px;
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.6);
}

/* Título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #ffffff;
}

/* Formularios */
.formulario .grupo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    color: #ffffff;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #949191;
    border-radius: 6px;
    font-size: 14px;
}

.formulario textarea {
    resize: vertical;
    min-height: 60px;
}

/* Botón */
#btnAgregar {
    width: 100px;
    padding: 10px;
    background: rgb(9, 248, 85);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #13c56c;
}

.prodAgregados {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.card-admin {
    background-color: #0b0b0b;
    border-radius: 16px;
    border: none;
}

/* Texto blanco */
.card-admin .card-title,
.card-admin .card-text,
.card-admin p,
.card-admin span {
    color: #ffffff;
}

/* Precio destacado */
.card-admin .precio {
    font-size: 1.1rem;
    font-weight: bold;
    color: #1affa3;
}

/* Imagen */
.card-admin img {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
}

/* Botones */
.card-admin .btn-success {
    background-color: #00c853;
    border: none;
}

.card-admin .btn-danger {
    background-color: #d32f2f;
    border: none;
}


/* barra lateral */
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    left: 0;
    top: 70px;
    background-color: #0f0f11;
}

.sidebar a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.sidebar a:hover {
    background-color: #343a40;
}


.modalAgregarProducto {
    background: #343a40;
}

.botonesArriba{
    text-align: right;
    padding-right: 50px;
}

#btnAgregar {
    background: #00c853;
    height: 40px;
    width: 15%;
}

#btnExportar{
    background: #969796;
    border-color: #0b0b0b;
    height: 40px;
    width: 10%;
}

#btnEditar{
    background: #00c853;
    border-color: #0b0b0b;
    height: 40px;
    width: 20%;
}

.btn-verde-claro {
  background-color: #00c853 !important; 
  color: #fff !important;
}

.btn-verde-claro:hover {
  background-color: #75b88d !important;
}

/* ===== TABLA ===== */
.table-responsive {
  border-radius: 20px;
  padding: 30px;

}

.table {
  margin-bottom: 0;
  color: #e5e7ebb7;
}

.table thead {
  background-color: #020617;
}

.table thead th {
  color: #36c96c;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.05em;
}

.table tbody tr {
  background-color: #f8f9fa;
  transition: background 0.2s ease;
}

.table tbody tr:hover {
  background-color: #e2e6ea;
}

.table td,
.table th {
  vertical-align: middle;
  border-color: #1f2933;
}

.grad-verde-claro {
  background: linear-gradient(135deg, #ebaefa, #551175);  
}
.grad-verde-medio {
  background: linear-gradient(135deg, #53c8f7, #085ec0);  
}
.grad-verde-oscuro {
  background: linear-gradient(135deg, #f89cb8, #fc026a);
}
.grad-verde-azulado {
  background: linear-gradient(135deg, #daf889, #daa104);
}
.grad-verde-elegante {
  background: linear-gradient(135deg, #17e733, #31e9b2);
 cursor: pointer;
}

.card-grafica{
    background: #444643;
    color: white;
}

#graficaProductos{
    color: white;
}