/* =======================================================
   ESTILOS DE QUIENES SOMOS 
   ======================================================= */
.quiensomos p {
    flex-grow: 1;
    text-align: justify;
}

.contenedor_quienes {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: justify;
    /* Centra el texto dentro del párrafo */
}

.container h2 {
    color: var(--color-verdeclaro) !important;
    text-align: center;
}

.imagen-quienes {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 800px;
    height: auto;

}


/* Contenedor de tarjetas */
.tarjetas_container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
}

.tarjeta {
    background-color: var(--color-verdeclaro) !important;
    color: #000000;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 500px;
}

.tarjeta:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

.tarjeta h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #000000;
}


/* Título arcade animado */
.titulos-arcade {
    max-width: 1250px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #a1c349;
    animation: typing 4s steps(50, end) forwards, blink 0.7s step-end infinite;

}

.titulos-arcade h4 {
    font-size: 35px;
    font-weight: bold;

}

/* Parte trasera de la card*/
.flip-card {
    perspective: 1000px;
    width: 100%;
    height: 330px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.7s ease-in-out;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    border-radius: 0.75rem;
}

.flip-card-front {
    background: #fff;
}

.flip-card-back {
    background: #1f6f54;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0;
}

.flip-card-back img.personal-image {
    width: 100%;
    height: 200px;
    border-radius: 0.75rem 0.75rem 0 0;
    object-fit: contain;
    background-color: #fff;
}

.perfil-links {
    padding-top: 5px;
}





@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}


.foto-bajada {
    object-position: center 30%;
}





/* Tablets */
@media (max-width: 992px) {
    .row.g-4.justify-content-center {
        row-gap: 40px;
        padding: 10px;
    }

    .flip-card {
        max-width: 260px;
        height: 350px;
    }

}

@media (max-width: 576px) {
    .row.g-4.justify-content-center {
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .row.g-4.justify-content-center>[class*="col-"] {
        width: 100%;
        margin-bottom: 40px;
    }

    /* Card con altura fija */
    .flip-card {
        height: 300px;
        margin: 0 auto;
    }
}