/* SECCIÓN DESTACADOS */
.destacados-section {
    width: 100%;
    padding: 20px 0;
    animation: fadeIn 1s ease-in-out;
}

/* TÍTULO DESTACADOS */
.title-destacados {
    font-size: 28px;
    font-weight: 700;
    margin-left: 30px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-align: center;
    position: relative;
    animation: slideDown 1s ease;
    color: white;
}

.title-destacados::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #3be08f;
    margin: 10px auto 0;
    border-radius: 2px;
    animation: growLine 1.5s ease forwards;
}

/* GRID BASE */
.cards-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 30px 30px;
}

/* CARD */
.card-compras {
    background: rgba(33, 37, 41, 0.45);
    border-radius: 18px;
    padding: 18px;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 9px 11px 0px -4px rgba(59, 224, 143, 0.34);
    -webkit-box-shadow: 9px 11px 0px -4px rgba(59, 224, 143, 0.34);
    -moz-box-shadow: 9px 11px 0px -4px rgba(59, 224, 143, 0.34);
}

.card-compras:nth-child(1) {
    animation-delay: 0.2s;
}

.card-compras:nth-child(2) {
    animation-delay: 0.3s;
}

.card-compras:nth-child(3) {
    animation-delay: 0.4s;
}

.card-compras:nth-child(4) {
    animation-delay: 0.5s;
}

.card-compras:nth-child(5) {
    animation-delay: 0.6s;
}

.card-compras:nth-child(6) {
    animation-delay: 0.7s;
}

.card-compras:nth-child(7) {
    animation-delay: 0.8s;
}

.card-compras:nth-child(8) {
    animation-delay: 0.9s;
}

.card-compras:nth-child(9) {
    animation-delay: 1.0s;
}

.card-compras:nth-child(10) {
    animation-delay: 1.1s;
}


.card-compras:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6);
}

/* IMAGE */
.img-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: #f3f3f3;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 15px;
}

.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.card-compras:hover .img-box img {
    transform: scale(1.12) rotate(2deg);
}

/* TEXT */
.card-compras h3 {
    text-align: center;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: 600;
    animation: fadeIn 1.2s ease;
}

.precio-prod {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    padding: 5px;
    color: #fff;
}

/* BUTTONS */
.btns {
    display: flex;
    justify-content: center;
}

.btn {
    width: 48%;
    padding: 10px 0;
    border-radius: 50px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: scale(1);
}

.btn:hover {
    transform: scale(1.08);
}

.btn:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* BASE BUTTON COLORS */
.buy {

    background: #d4d4d4 !important;
    color: black !important;
}

.add {
    background: #25D366 !important;
    color: black;
}

/* HOVER BUTTON COLORS */
.buy:hover {
    background: #006eff !important;
}

.add:hover {
    background: #3be08f !important;
    color: white !important;
}

/* BOTÓN WHATSAPP */
.whatsapp-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 65px;
    height: 65px;
    background: #25D366;
    border-radius: 50%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: transform .3s ease, box-shadow .3s ease;
    animation: pulse 2s infinite;
}

.whatsapp-btn img {
    width: 38px;
    height: 38px;
}

.whatsapp-btn:hover {
    transform: scale(1.15) rotate(10deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/* REVIEWS SECTION */
.reviews-section {
    background: #0a0a0a;
    padding: 60px 20px;
    border-radius: 20px;
    margin-top: 40px;
    color: #d4ffd4;
    animation: fadeIn 1.5s ease;
}

.review-card {
    background: #121212;
    padding: 25px;
    border-radius: 18px;
    border: 1px solid #1f1f1f;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
}

.review-card:nth-child(1) {
    animation-delay: 0.2s;
}

.review-card:nth-child(2) {
    animation-delay: 0.4s;
}

.review-card:nth-child(3) {
    animation-delay: 0.6s;
}

.review-card:nth-child(4) {
    animation-delay: 0.8s;
}

.review-card:hover {
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

/* ANIMACIONES KEYFRAMES */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes growLine {
    from {
        width: 0;
    }

    to {
        width: 60px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}



/*boton whatsapp-----------------------------------*/
.whatsapp-btn {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 65px;
    height: 65px;
    background: #25D366;
    border-radius: 50%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: transform .3s ease, box-shadow .3s ease;
}

.whatsapp-btn img {
    width: 38px;
    height: 38px;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

/*COMENTARIOS------------------------------------------*/
/* SECCIÓN COMPLETA ----------------------------------*/
.reviews-section {
    background: #0a0a0a;
    padding: 60px 20px;
    border-radius: 20px;
    margin-top: 40px;
    color: #d4ffd4;
}

/* TÍTULO CON GIFS */
.title-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.title-row h2 {
    font-size: 2.2rem;
    font-weight: bold;
    color: #62ff62;
    text-align: center;
}

.fighter {
    width: 70px;
}

/* GRID DE CARDS */
.reviews-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

/* TARJETA */
.review-card {
    background: #121212;
    padding: 25px;
    border-radius: 18px;
    border: 1px solid #1f1f1f;
    transition: transform 0.3s ease;
}

.review-card:hover {
    transform: translateY(-5px);
}

.review-card h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #7eff7e;
}

.time {
    color: #8f8f8f;
    font-size: 0.9rem;
}

.stars {
    margin: 10px 0;
    color: #7eff7e;
    font-size: 1.1rem;
}

/* RESPONSIVE */
/* Tablets 2 columnas */
@media (max-width: 900px) {
    .reviews-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .fighter {
        width: 55px;
    }

    .title-destacados {
        margin-left: 20px;
    }

    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px 20px;
    }
}

/* Móvilescolumna */
@media (max-width: 600px) {
    .reviews-grid {
        grid-template-columns: 1fr;
    }

    .title-row {
        flex-direction: column;
        gap: 5px;
        text-align: center;
    }

    .fighter {
        width: 65px;
        display: block;
    }

    .title-destacados {
        font-size: 22px;
        margin-left: 15px;
    }

    .cards-grid {
        grid-template-columns: 1fr;
        padding: 0 15px 20px;
    }

    .img-box {
        height: 130px;
    }
}


/* ======================================================
   MODAL CARRITO
 */

/* OVERLAY */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 9999;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/*MODAL CONTENIDO*/
.modal-content {
    background: radial-gradient(
        circle at top,
        #1e293b 0%,
        #0f172a 65%
    );
    color: #e5e7eb;
    width: 100%;
    max-width: 420px;
    height: 100%;
    padding: 28px;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.4s ease;
    box-shadow: -18px 0 55px rgba(0, 0, 0, 0.9);
    border-radius: 22px 0 0 22px;
    overflow-y: auto;
}

.modal-overlay.active .modal-content {
    transform: translateX(0);
}

/* SCROLL */
.modal-content::-webkit-scrollbar {
    width: 6px;
}
.modal-content::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 10px;
}

/* ==HEADER ==*/
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.modal-header h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
}

.close-btn {
    font-size: 26px;
    cursor: pointer;
    color: #9ca3af;
    transition: color 0.2s, transform 0.2s;
}

.close-btn:hover {
    color: #ef4444;
    transform: rotate(90deg) scale(1.1);
}

/* == PRODUCTO == */
.modal-prod {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    border-bottom: 1px solid #1f2937;
    animation: fadeUp 0.4s ease both;
}

.modal-prod img {
    width: 82px;
    border-radius: 14px;
    object-fit: cover;
    border: 2px solid #1f2937;
    box-shadow: 0 6px 20px rgba(0,0,0,0.6);
}

/* ==INFO == */
.modal-info h4 {
    font-size: 1.1rem;
    margin-bottom: 6px;
    color: #ffffff;
}

.modal-info p {
    font-size: 0.9rem;
    color: #9ca3af;
}

#modalPrecio {
    font-weight: 700;
    color: #38bdf8;
}

/* == CONTROLES == */
.modal-controls {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

.qty-btn {
    width: 38px;
    height: 38px;
    border-radius: 12px;
    border: none;
    background: #1f2937;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s;
}

.qty-btn:hover {
    background: #2563eb;
    transform: scale(1.1);
}

#modalCantidad {
    min-width: 32px;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}

/* ==ELIMINAR == */
.delete-btn {
    background: #ef4444;
    border: none;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 14px;
    transition: background 0.2s, transform 0.2s;
}

.delete-btn:hover {
    background: #dc2626;
    transform: translateY(-2px);
}

/* ==SUBTOTAL == */
.modal-subtotal {
    margin-top: 18px;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: right;
    color: #ffffff;
}

/* ==ACCIONES == */
.modal-actions {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 26px;
}

/* BOTONES BASE */
.btn-seguir,
.btn-vaciar,
.irCarrito {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px;
    font-weight: 700;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.2s, transform 0.2s, box-shadow 0.2s;
}

/* ICONOS SVG */
button svg,
a svg {
    width: 18px;
    height: 18px;
    stroke: currentColor;
    fill: none;
    stroke-width: 2;
}

/* VACÍAR */
.btn-vaciar {
    background: #b91c1c;
    color: #ffffff;
}

.btn-vaciar:hover {
    background: #991b1b;
    transform: translateY(-2px);
}

/* SEGUIR */
.btn-seguir {
    background: #2563eb;
    color: #ffffff;
}

.btn-seguir:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

/* IR AL CARRITO */
.irCarrito {
    background: #16a34a;
    color: #ffffff;
    box-shadow: 0 0 0 rgba(22,163,74,0);
}

.irCarrito:hover {
    background: #15803d;
    transform: translateY(-2px);
    box-shadow: 0 0 25px rgba(22,163,74,0.6);
}

/* ==ANIMACIONES == */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* == MOBILE == */
@media (max-width: 480px) {
    .modal-content {
        max-width: 100%;
        border-radius: 0;
        padding: 22px;
    }

    .modal-header h3 {
        font-size: 1.3rem;
    }

    .modal-prod img {
        width: 70px;
    }
}


/* contador carrito*/
.cart-count {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    padding: 3px 7px;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
    display: none;
}

.carrito-icono {
    position: relative;
}