footer {
    background: var(--color-section) !important;
    color: #000000;
    padding: 15px 0 0;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    padding: 10px 20px;
}

.footer-nav h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    margin-bottom: 10px;
    font-size: 20px;
    color: var(--color-verdeclaro) !important;
    letter-spacing: 2px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
}

footer a:hover {
    color: var(--color-verdeclaro) !important;
    padding-left: 3px;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 25px;
    color: #ffffff;
    opacity: 0.8;
}


.container-columnas {
    display: flex;
    gap: 40px;
    /* espacio entre los títulos */
}

.footer-descripcion {
    max-width: 230px;
    flex: 10;
    text-align: center;
}

.footer-descripcion img {
    width: 90px;
    height: 90px;
    margin-bottom: 15px;
    display: block;
    margin: 0 auto;
}

.footer-descripcion p {
    font-size: 14px;
    color: #ffffff;
}

.icon-circle {
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff20;
    /* un fondo semitransparente */
    color: white;
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.icon-circle:hover {
    background-color: white;
    color: #000;
}


@media (max-width: 768px) {
    footer .container {
        flex-direction: column;
        text-align: center;
    }

    footer a:hover {
        padding-left: 0;
    }
}

footer img {
    width: 100px;
    height: 100px;
}

/* Media Query para Móviles (Ej: hasta 576px) */
@media (max-width: 576px) {

    /* Apilar todas las columnas del footer */
    footer .container {
        flex-direction: column;
        align-items: center;
        /* Centrar el contenido apilado */
    }

    /* Asegurar que cada columna ocupe el 100% del ancho */
    .footer-columna {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        /* Espacio entre las columnas apiladas */
    }

    /* Asegurar que el logo quede centrado */
    .footer-logo {
        margin-bottom: 30px;
    }
}