* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  background: #0f0f11;
  color: var(--color-verdeclaro) !important;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /*Esta parte dice las coordenadas donde quedara la nav*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.6rem;
  font-weight: bold;
}

.desktop-menu {
  display: flex;
  gap: 1.5rem;
}

.desktop-menu a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: color 0.3s ease;
}

.desktop-menu a:hover {
  color: var(--color-verdeclaro) !important;
}

.desktop-menu a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2C3930;
  transition: width 0.3s ease;
}

.desktop-menu a:hover::after {
  width: 100%;
}

.icons a {
  margin: 0 10px;
  color: white;
  font-size: 1.5rem;
  transition: 0.3s;
}

.icons a:hover {
  color: var(--color-verdeclaro) !important;
  transform: scale(1.1);
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #ffffff;
  margin: 4px 0;
  transition: 0.4s;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #0f0f11;
  width: 100%;
  padding: 1rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-in-out;
  z-index: 10;
}

.mobile-menu a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.mobile-menu a:hover {
  color: var(--color-verdeclaro) !important;
}

.mobile-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.mobile-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.mobile-icons img:hover {
  transform: scale(1.2);
}

.imgLogo {
  width: 40px;
  height: 40px;
}

.logo-group {
  display: flex;
  align-items: center;
  gap: 10px;
}


@media (max-width: 1028px) {

  .desktop-menu,
  .icons {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-menu.active {
    display: flex;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}