.carrito-icon {
    position: relative;
}

#carrito-contador {
    position: absolute;
    top: -8px;
    right: -10px;
    background: red;
    color: white;
    padding: 2px 6px;
    border-radius: 50%;
    font-size: 12px;
}

.btn-continuar {
    width: 100%;
    background: #444;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-continuar:hover {
    background: #666;
}

.btn-finalizar {
    width: 100%;
    background: #28a745;
    color: white;
    padding: 12px;
    border: none;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-finalizar:hover {
    background: #1e7e34;
}



body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

.carrito-header {
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.carrito-container {
    display: flex;
    width: 90%;
    margin: 25px auto;
    gap: 25px;
}

/* LISTA */
.carrito-items {
    width: 70%;
}

.item-carrito {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.item-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.item-info img {
    width: 90px;
}

.item-precio {
    font-size: 16px;
    color: #444;
}

.cantidad-box button {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.eliminar-btn {
    font-size: 24px;
    color: red;
    cursor: pointer;
}

/* RESUMEN */
.carrito-resumen {
    width: 30%;
    background: white;
    padding: 20px;
    border-radius: 12px;
    height: fit-content;
}

.btn-finalizar {
    background: black;
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
}

.btn-finalizar:hover {
    background: green;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .carrito-container {
        flex-direction: column;
    }

    .carrito-items, .carrito-resumen {
        width: 100%;
    }
}
