/* Contenedor para centrar la card */
#contenedor {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
    font-family: 'Montserrat', sans-serif;
}


/* Card */
.cardAgregar {
    width: 480px;
    padding: 25px;
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.6);
}

/* Título */
.titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
    color: #ffffff;
}

/* Formularios */
.formulario .grupo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    color: #ffffff;
}

.formulario input,
.formulario textarea {
    padding: 10px;
    border: 1px solid #949191;
    border-radius: 6px;
    font-size: 14px;
}

.formulario textarea {
    resize: vertical;
    min-height: 60px;
}

/* Botón */
#btnAgregar {
    width: 100px;
    padding: 10px;
    background: rgb(9, 248, 85);
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #13c56c;
}

.prodAgregados {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
}

.card-admin {
    background-color: #0b0b0b;
    border-radius: 16px;
    border: none;
}

/* Texto blanco */
.card-admin .card-title,
.card-admin .card-text,
.card-admin p,
.card-admin span {
    color: #ffffff;
}

/* Precio destacado */
.card-admin .precio {
    font-size: 1.1rem;
    font-weight: bold;
    color: #1affa3;
}

/* Imagen */
.card-admin img {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 10px;
}

/* Botones */
.card-admin .btn-success {
    background-color: #00c853;
    border: none;
}

.card-admin .btn-danger {
    background-color: #d32f2f;
    border: none;
}