.contenedor-principal {
    margin-top: 0px;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.486),
            rgba(0, 0, 0, 0.6)),
        url("../img/fondologin.png") no-repeat center center / cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* FORMULARIO */
.seccion-formulario {
    background: rgba(0, 0, 0, 0.938);
    border-radius: 15px;
    padding: 50px 60px;
    width: 420px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.contacto-titulo {
    text-align: center;
    margin-bottom: 35px;
    color: #25d366;
    font-size: 32px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
}

.campo label {
    margin-bottom: 6px;
    color: #bbbbbb;
    font-weight: 600;
}

.campo input {
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: all 0.3s ease;
}

.campo input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

.boton-enviar {
    width: 100%;
    padding: 15px;
    background: #35dd3e;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: #1de627 0.3s ease, transform 0.2s;
}

.boton-enviar:hover {
    transform: translateY(-2px);
}

.seccion-formulario p {
    text-align: center;
    margin-top: 20px;
    color: #777;
    cursor: pointer;
}

.seccion-formulario a {
    color: #777;
    text-decoration: none;
}

.seccion-formulario a:hover {
    color: #4CAF50;
}

/* responsive */
@media (max-width: 480px) {
    .seccion-formulario {
        width: 100%;
        padding: 35px 30px;
    }
}